apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
- auth/certificate.yaml
- auth/deployment.yaml
- auth/ingress.yaml
- auth/service.yaml
- discord/certificate.yaml
- discord/deployment.yaml
- discord/service.yaml
- discord/ingress.yaml
- logging/logging.yaml
- logging/flow.yaml
- logging/output.yaml
- logging/cronjob-cleanup.yaml
- chart-parser/cronjob.yaml
- auth/poddistruptionpolicy.yaml
- discord/poddistruptionpolicy.yaml
- external-secrets/external-secrets.yaml
images:
- name: adhp/zan-frontend
  newName: adhp/frontend
  newTag: zan-v1.6.1684686389.23-a019e9e
- name: denartcc/api
  newName: adhp/api
  newTag: main-38e88a7
- name: vzanartcc/auth
  newName: adhp/auth
  newTag: df0fe4b
